[flake8]
select = ANN,B9,E,F,I,W
ignore = """
    SC100,SC200 # misspelled words
    E800 # commented out code
    BLK  # code formatting with black
    ANN002 # Missing type annotation for args in method
    ANN003 # Missing type annotation for kwargs in method
    ANN101 # Missing type annotation for self in method
    ANN102 # Missing type annotation for cls in method
    D403 # First word of the first line should be properly capitalized
    D415 # First line should end with a period, question mark, or exclamation point
    E203 # whitespace before ':'
    E741 # Ambiguous variable name
    S301 # Pickle and modules that wrap it can be unsafe when used to deserialize untrusted data, possible security issue.
    """
max-complexity = 10
max-line-length= 120
docstring-convention = google
