# folders
**/.DS_Store
**/__pycache__
**/.ipynb_checkpoints
**/*.egg-info
build
dist
.nox
.pytest_cache
.vscode
htmlcov
data
config
logs

# files
.coverage
poetry.lock
todo.md

# extensions
**/*.code-workspace
**/*.tif
