[tool.black]
line-length = 120
extend-exclude = "surface_distance"

[tool.coverage.report]
show_missing = true

[tool.coverage.run]
branch = true
omit = ["**/__init__.py"]
source = ["uda", "uda_wandb"]

[tool.isort]
ensure_newline_before_comments = true
force_grid_wrap = 0
include_trailing_comma = true
line_length = 120
multi_line_output = 3
use_parentheses = true

[tool.pytest.ini_options]
addopts = "--cov --cov-report=html --cov-report=term"
testpaths = "tests"
